* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #313534;
}

a {
  text-decoration: none;
  padding: 0 20px 0 20px;
  color: #313534;
  transition: all 0.4s;
}

a:hover {
  color: #6B1E27;
  font-size: 2rem;
}

.mainpage {
  background-image: url(/Users/staselyte/Documents/GitHub/Multi-column-site/images/finalmain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
}

nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  background-color: rgb(178, 172, 174, 0.1);
}

.bloom {
  font-family: 'Homemade Apple', cursive;
  font-size: 2rem;
  text-align: left;
  flex: 1;
}

.gallery {
  overflow: hidden;
}

.gallery img {
  float: left;
  width: 33.33%;
}

.text {
  position: absolute;
  top: 25%;
  line-height: 2.5;
  width: 100vw;
}

h1 {
  font-family: 'Homemade Apple', cursive;
  font-size: 2rem;
  text-align: center;
}

h3 {
  margin: 0 auto 40px auto;
  font-size: 1rem;
  text-align: center;

}

.button {
  color: #EB7C9B;
  display: inline-block;
  border: 1px solid #EB7C9B;
  border-radius: 50px;
  transition: all 0.5s;
}

.button:hover {
  font-size: 1.4rem;
  color: #6B1E27;
  border: 1px solid #6B1E27;
  text-decoration: underline;
}

.reviews {
  display: flex;
  height: 300px;
}

.column1, .column2 {
  flex: 50%;
}

.column1 {
  background-color: #D7CACC;
}

.reviews img {
  display: block;
  margin: 30px auto 30px auto;
  height: 100px;
  border-radius: 50%;
}

p {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 0 20px 0 20px;
}

p span {
  font-size: 0.7rem;
}

.fullbleed {
  height: 400px;
  overflow: scroll;
  background-image: url(/Users/staselyte/Documents/GitHub/Multi-column-site/images/fullbleed.jpg);
  background-position: center;
  background-size:cover;
}

.social {
  background-color: #D7CACC;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.copybloom {
  text-align: center;
  font-size: 1rem;
  background-color: #D7CACC;
}
